
@media screen and (min-width: 1200px) {
    #container {
        width: 55%;
    }
}

@media screen and (max-width: 1200px) {
    #container {
        width: 80%;
    }
}
@media screen and (max-width: 480px) {
    #container {
        width: 95%;
    }
}

@media screen and (min-height: 1080px) {
    #container {
        height:80vh;
    }
}
@media screen and (max-height: 900px) and (min-width:340px) {
    #container {
        height: 720px;
    }
}

@media screen and (max-width:340px){
    input[type=number]{
        width:30px;
        font-size:9px;
    }
    h1 {
        font-size: 13px;
    }
}
@media screen and (min-width:340px) {
    input[type=number] {
        width: 70px;
        font-size:15px;
    }
    h1 {
        font-size: 23px;
    }
}


@media screen and (max-width:280px) {
    aside{
        display:none;
    }
    figure{
        margin-left:10px;
    }
    section {
        margin-left: 10px;
    }
    *{
        font-size:10px;
    }
    h3{
        font-size:10px;
    }
    h1{
        font-size:10px;
    }
}

@media screen and (min-width:280px) {
    aside {
        display: block;
    }
    figure {
        margin-left: 0px;
    }
    section {
        margin-left: 0px;
    }
    h3{
        font-size:17px;
    }

}


    * {
        font-family: 'Ubuntu', sans-serif;
        font-weight: normal;
    }

    body {
        background-color: #CC0633;
    }

    #container {
        background-color: #f2f2f2;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        height: 720px;
        margin: 30px auto;
        margin-top: 80px;
    }

    h1 {
        color: black;
        padding: 20px;
        padding-bottom: 0px;
        font-weight: bold;
    }

    aside {
        background-color: white;
        border-radius: 5px;
        float: left;
        margin: 10px;
        margin-left: 2vw;
        width: 40%;
        height: 80%;
    }

    main {
        float: left;
        width: 50%;
    }

    figure {
        background-color: white;
        border-radius: 5px;
        margin: 10px;
        height: 70%;
        width: 100%;
    }

    section {
        background-color: white;
        border-radius: 5px;
        margin: 10px;
        width: 100%;
        height: 20%;
    }

    input[type="file"]::file-selector-button {
        margin: 5px;
        margin-left: 10px;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        background-color: white;
        border: 1px #CC0633 solid;
    }

    input[type="file"]::file-selector-button:hover {
        background-color: #CC0633;
        color: white;
    }

    input[type=number] {
        height: 25px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        color: #93504C;
        border: 1px #ababab solid;
        outline: none;
    }

    .grade {
        width: 10vw;
    }

    th {
        padding: 2px;
    }

    h3 {
        margin: 4px;
        font-weight: bold;
        padding: 4px;
        padding-left: 10px;
        padding-top: 12px;
    }

    .progress_bar {
        background-color: lightgray;
        border-radius: 5px;
        width: 2%;
        height: 20px;
        font-size: 10pt;
        float: left;
    }

    span {
        padding: 4px;
    }

    .hist_grade {
        padding-left: 10px;
        text-align: left;
    }

    .stat_name {
        padding-left: 10px;
        text-align: left;
    }

    #warning_big {
        font-weight: bold;
        display: none;
    }

    #warning_csv {
        font-weight: bold;
        display: none;
    }